.container {
    display: flex;
    min-height: calc(100vh - 50px);
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}