.container {
    display: flex;
    min-height: calc(100vh - 50px);
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer-card {
    cursor: pointer;
}

.answer-card:hover {
    background-color: rgba(250, 225, 225, 0.5);
}

.bg-danger, .bg-success {
    color: #ffffff;
}